<div class="row">
    <div class="well">
      <% if(Array.isArray(restaurants) && restaurants.length > 0) { %>
        <% restaurants.forEach((restaurant) => { %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <%= restaurant.name %>
            </div>
            <div class="panel-body">
              <%= restaurant.longitude %>
              <%= restaurant.latitude %>
              <%= restaurant.type %>
              <%= restaurant.address %>
              <%= restaurant.hours %>
            </div>
            <div class="panel-footer">
              <b>posted at:</b> <%= restaurant.updatedAt %>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <div class="panel panel-default">
          <div class="panel-body">
            No Restaurants...
          </div>
        </div>
      <% } %>
    </div>
  </div> 