<div class="row">
    <div class="well">
      <% if(Array.isArray(restaurants) && restaurants.length > 0) { %>
        <% restaurants.forEach((restaurant) => { %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3><a href="/restaurants/<%= restaurant.id %> "><%= restaurant.name %></a></h3>
            </div>
            <div class="panel-body">
              <p> <%= restaurant.name %> is located at <%= restaurant.address %>.</p>
              <p>Genre: <%= restaurant.type %></p>
              <% if(restaurant.hours != null) { %> 
                <p> Business hours are <%= restaurant.hours %>. </p>
                <% } else { %> 
                <p>Business hours are not posted.</p>
                <% } %></p>
            </div>
            <div class="panel-footer">
              <b>posted at:</b> <%= restaurant.updatedAt %>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <div class="panel panel-default">
          <div class="panel-body">
            No Restaurants...
          </div>
        </div>
      <% } %>
    </div>
  </div> 