<h1>
    <%= restaurant.name %>
</h1>

<div class="row">
  <div class="well well2">
    <div class="well well3 panel panel-info">
            <div class="panel-body">
                <h2 class="teko">Genre: </h2>
                <p> <%= restaurant.type %> </p>
                <h2 class="teko">Hours: </h2>
                 <% if(restaurant.hours !== null) { %> 
                    <%= restaurant.hours %> 
                    <% } else { %> 
                    <p>Hours not posted.</p>
                    <% } %>
                <h2 class="teko">Address: </h2>
                <p><%= restaurant.address %> </p>    
                <h2 class="teko">Location: </h2>
                 <%= restaurant.longitude %>
                 <%= restaurant.latitude %>
                <!-- <% if(restaurant.imgURL !== '') { %>
                 <h3>Image</h3>
                 <img src="<%= restaurant.imgURL %>" alt="<%= restaurant.name%>">
                <% } %> -->
            </div>
    </div>
    </div>
</div>

<div class="row">
  <div class="well well2" style="min-height: 50px;">
    <div class="well well3 panel panel-info" style="min-height: 50px;">
    <% if(Array.isArray(restaurant.Reviews) && restaurant.Reviews.length > 0) { %>
      <% restaurant.Reviews.forEach((review) => { %>
        <div class="panel panel-info" style="border: 0px">
          <div class="panel-heading">
            <h3 class="teko"><%= review.name %></h3>
          </div>
          <div class="panel-body" style="background-color: rgb(224, 224, 224);">
            <h2 class="teko">Users' opinion on cleanliness:</h2>
            <%= review.cleanliness %>
            <h2 class="teko">Notable features:</h2>
            <%= review.features %>
            <div>
            <% if(review.imageURL !== '') { %> 
              <h2 class="teko">Image</h2>
              <img src="<%= review.imageURL %>" width="400px" height="auto">
              <% } %> 
            </div>
              <br>
              <h2 class="teko">Overall Restroom Rating</h2>
            <% if(review.comfort === 1 ) { %>
              <img src="http://<%= root %>/images/1_5.png" alt="1 out of 5 stars" width="200px" height="auto">
            <% } else if(review.comfort === 2) { %> 
              <img src="http://<%= root %>/images/2_5.png" alt="2 out of 5 stars" width="200px" height="auto">
            <% } else if(review.comfort === 3) { %> 
              <img src="http://<%= root %>/images/3_5.png" alt="3 out of 5 stars" width="200px" height="auto">
            <% } else if(review.comfort === 4) { %> 
              <img src="http://<%= root %>/images/4_5.png" alt="4 out of 5 stars" width="200px" height="auto">
            <% } else if(review.comfort === 5) { %> 
              <img src="http://<%= root %>/images/5_5.png" alt="5 out of 5 stars" width="200px" height="auto">
            <% } %> 
          </div>
          <div class="panel-footer" style="background-color: #d9edf7">

            <form method="GET" action="/restaurants/<%= restaurant.id %>/review/<%=review.id%>/edit">
              <input type="submit" value="Edit review" />
            </form>
            <form method="POST" action="/restaurants/<%= restaurant.id %>/review/<%=review.id%>?_method=DELETE">
              <button type="submit" value="Delete">Remove review</button>
            </br>
              <b>submitted:</b> <%= review.updatedAt %>
            </form>

          </div>
        </div>
      <% }) %>
    <% } else { %>
      <div class="panel panel-default">
        <div class="panel-body">
          No Reviews...
        </div>
      </div>
    <% } %>
  </div>
</div>
</div>

<div class="well well2">
  <div class="well well3 panel panel-info">
    <h2>Create a review of <%= restaurant.name %>'s restrooms: </h2>
    <form method="POST" action="/restaurants/<%= restaurant.id%>/review">
        <div class="input-group mb-3 w-25">
        <input name="name" class="form-control" width="40%" type="text" placeholder="Reviewer's name" required>
        </div>
    </br>
        <input name="cleanliness" class="form-control" type="text" placeholder="Describe the restaurant's restroom's cleanliness" required>
    </br>
        <input name="features" class="form-control" type="text" placeholder="Any notable features in the restroom?" required>
    </br>
        <input name="imageURL" class="form-control" type="text" placeholder="Place your image URL here to share!">
    </br>
        <div>
            <h3 class="sameLine">Comfort</h3>
            <p class="sameLine">(1 : Do not recommend - 5 : Highly recommend)</p>
        </div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-warning">
              <input type="radio" name="comfort" id="option1" value="1"> 1
            </label>
            <label class="btn btn-warning">
              <input type="radio" name="comfort" id="option2" value="2"> 2
            </label>
            <label class="btn btn-warning active">
              <input type="radio" name="comfort" id="option3" value="3" checked> 3
            </label>
            <label class="btn btn-warning">
              <input type="radio" name="comfort" id="option3" value="4"> 4
            </label>
            <label class="btn btn-warning">
              <input type="radio" name="comfort" id="option3" value="5"> 5
            </label>
          </div>
          <button class="btn btn-info" type="submit">Submit New Review</button>
    </form>
  </div>
  </div>
